@use "../../styles/sizes";
// @use "../../styles/shared";
@import "../../styles/shared";

.home-wrapper {
    margin: 48px 200px 0px 200px; // top right bottom left
    overflow: auto;
    // display: grid;
    // grid-template-rows: minmax(100px, 6fr) 2fr;
}

.table-wrapper {
    max-height: 60%;
    overflow: scroll;
    border: 1px solid black;
}

.buttons-container {
    display: flex;
    // margin-right: auto
    justify-content: flex-end;

    button {
        margin-right: sizes.$medium;
        margin-top: sizes.$small;
    }
}


.lobby-table {
    @extend .table
}